<section class="header">
  <nav class=" container navbar ">
     <h5 class="navbar-brand ">
        <a class="text-white" [routerLink]="['']"><sup class="font-weight-bold">A</sup><sub>NDALUSIA</sub></a>
     </h5>
     <div class="text-center">
        <span class="date">{{today}}</span>
     </div>
     <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button"  data-toggle="dropdown"  >
        <img class="user" src="../../assets/images/download.jpeg"/>
        </a>
        <div class="dropdown-menu" >
           <a class="dropdown-item" href="#">Profile</a>
           <hr class="my-0">
           <a class="dropdown-item" href="#">Log Out</a>
        </div>
     </div>
  </nav>
</section>