@import '../../assets/scss/variables';
@import '../../assets/scss/general';

.side-menu{
    border:1px solid black;
    min-height:200px;
    div{
        // border-left:4px solid transparent;
        background-color: $primaryColor;
        padding:12px 15px 15px 0px ;
       a{
        color:white;
        font-family:boldRaleway;
       }
   }
    div:hover{
        background-color:white;;
        border-left:2px solid $primaryColor;
        a{
            color:$primaryColor;
        }
   }
}